* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #cccccc;
    font-size: 1.5em;
    text-align: center;
    color: #000000;
}

#block {
    width: 360px;
    height: 360px;
    padding: 30px;
    margin: auto;
    border: 1px solid #ccc;
}

[data-view="card"] {
    width: 72px;
    height: 72px;
    margin: 1px;
    float: left;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
}

.red[data-color="red"]{
    background: red;
}

